{% extends 'base.html' %}

{% block title %}
User
{% endblock %}

{% block content%}
    <h1>{{user.username}}</h1>
    <p>{{user.email}}</p>
    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <h4>Feedback</h4>
    <ul>
        {% for fdback in feedback %}
            <li>
                {{fdback.title}} - {{fdback.content}} 
                <form action="/feedback/{{fdback.id}}/update" method="get">
                    <button type="submit">Edit</button>
                    <button formaction="/feedback/{{fdback.id}}/delete"  formmethod="post" type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/users/{{user.username}}/feedback/add">Add Feedback</a>
    <form action="/users/{{user.username}}/delete" method="post">
        <button type="submit">Delete User</button>
    </form>
{% endblock %}