<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>
    <ul>
        <!-- {% for cupcake in cupcakes %}
            <li>{{cupcake.flavor}} {{cupcake.size}} {{cupcake.rating}}</li>
        {% endfor %} -->
    </ul>
    <form id='form' action='/api/cupcakes' method="post">
        <h4>Add a cupcake</h4>
        {{ form.csrf_token }}
        {% for field in form if
            field.widget.input_type != 'hidden' %}

            {{field.label}}
            {{field}}
            <br>

        {% endfor %}
        <button id="addCupcakeBtn">Add</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
