{% extends  "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="d-flex justify-content-center">
        <table class="my-5 border">
            {% for row in session['gameboard'] %}
            {% set outer_loop = loop %}
            <tr>
                {% for letter in row %}
                <td class="td text-center"id="{{outer_loop.index0}}{{loop.index0}}">
                    {{letter}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <form id="guessForm">
            <label class="form-label" for="guess">Guess a word</label>
            <input class="" type="text" class="form-control form-control-sm" name="guess" id="guessInput">
            <input class="btn btn-success btn-sm"type="submit" value="Submit" id="submitBtn">
            <input class="btn btn-warning btn-sm"type="button" id="hintBtn" value="Hint">
            <br>
            <label class="form-label" for="response">Result: </label><span id="response"></span>
        </form>

    </div>
</div>


<div>
    <span>
        <h3>Timer</h3>
        <div id="timer">60</div>
    </span>
    <span>
        <h3>Score</h3>
        <div><h3 id="score">0</h3></div>
    </span>
    <span>
        <h3>High Score</h3>
        <div id="hi-score">{{session.get('highscore',0)}}</div>
    </span>
    <span>
        <h3>Games Played</h3>
        <div id="gamesPlayed">{{session.get('games_played',0)}}</div>
    </span>
</div>
{% endblock %}
   