<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Boggle</title>
</head>
<body>
    <table>
        {% for row in session['gameboard'] %}
        <tr>
            {% for letter in row %}
            <td>
                {{letter}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form id="guessForm">
        <label for="guess">Guess a word</label>
        <input type="text" name="guess" id="guessInput">
        <input type="submit" value="Submit" id="submitBtn">
    </form>
    <label for="response">Result: </label><span id="response"></span>
    <div>
        <span>
            <h3>Timer</h3>
            <div id="timer">60</div>
        </span>
        <span>
            <h3>Score</h3>
            <div><h3 id="score">0</h3></div>
        </span>
    </div>
    



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>