{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" value={{post.title}}><br>

        <label for="content">Content</label><br>
        <textarea type="text" name="content" id="content">{{post.content}}</textarea><br>

        <div>
            {% for tag in tags %}
            <input type="checkbox" name="tags" id="{{tag.name}}" value="{{tag.id}}" {% if tag.id in post_tags_id %} checked {% endif %}><label for="tags">{{tag.name}}</label>
            {% endfor %}
        </div>

        <button class="btn btn-sm btn-outline-primary" type="submit" formaction="/posts/{{post.id}}" formmethod="get">Cancel</button>
        <button class="btn btn-sm btn-primary" type="submit">Edit</button>
    </form>
{% endblock %}