{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<blockquote>By {{post.user.full_name}}</blockquote>
<span>Tags:</span>
    <span>
        {% for tag in post.tags %}
        <a href="/tags/{{tag.id}}">{{tag.name}}</a>
        {% endfor %}
    </span>
    <br>
    <br>

<form action="">
    <input type="submit" formaction="/users/{{post.user.id}}" formmethod="get" value="Cancel">
    <input type="submit" formaction="/posts/{{post.id}}/edit" formmethod="get" value="Edit">
    <input type="submit" formaction="/post/{{post.id}}/delete" formmethod="post" value="Delete">
</form>

{% endblock %}