
{% extends 'base.html' %}

{% block title %}
Add Post
{% endblock %}

{% block content %}
    <h1>Create Post for {{user.full_name}}</h1>
    <form action="/users/{{user.id}}/posts/new" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title"><br>
        <label for="content">Content</label><br>
        <textarea type="text" name="content" id="content"></textarea>
        <br>
        <div>
            {% for tag in tags %}
            <input type="checkbox" name="tags" id="{{tag.name}}" value="{{tag.id}}"><label for="tags">{{tag.name}}</label>
            {% endfor %}
        </div>
        <button class="btn btn-sm btn-success" type="submit">Add</button>
        <button class="btn btn-sm btn-outline-primary" formaction="/users/{{user.id}}" formmethod='get' type="submit"> Cancel </button>
    </form>
{% endblock %}