{% extends 'base.html' %}

{% block title %}
Blogly
{% endblock %}

{% block content %}
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <h3 class="text-center">All Posts</h3>
        </div>
    </div>


    {% for post in posts %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <h5 class="fs-3 fw-bold"><a class="text-decoration-none text-dark" href="/posts/{{post.id}}">{{post.title}}</a></h5>
                <p class="text-body">{{post.content}}</p>
                <blockquote class="fs-6 fw-lighter">By <a class="text-decoration-none text-primary" href="/users/{{post.user_id}}">{{post.user.full_name}}</a> on {{post.created_at}}</blockquote>
                <p class="fs-6 fw-bold">
                    Tags: {% for tag in post.tags %} <a class="badge bg-secondary text-decoration-none" href="/tags/{{tag.id}}">{{tag.name}}</a>{% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}